.header{
  background-color: orange;
  height: 100%;
  width: 100%;
  p{
    margin: 0;
    font-size: large;
    font-family: "Comic Sans MS";

  }
  display: flex;
  justify-content: center;
  align-items: center;
}