
p{
  margin: 0;
}
.pokemon-list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-content: flex-start;
  font-family: "Comic Sans MS";
  .pokemon{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: lightyellow;
    align-items: center;
    border-width: 5px;
    border: solid orange;
    .label{
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: orange;
      .id{
        margin-left: 10px;
        font-size: medium;
        font-weight: 700;
      }
      .heart{
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
    }
    a{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img-container{
        display: flex;
        align-items: flex-end;
        align-content: flex-end;
        flex-grow: 1;
        .image{
          width: 110px;
          height: 110px;
          display: flex;
          align-items:flex-end;
        }
      }
      .name{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
